/*-------------------------------------------------------------------------------------------------------------------
   CONFIGURATION.
-------------------------------------------------------------------------------------------------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

.container {
    font-family: Arial, sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    
}
.container.has-factorizar {
    /* Estilos que deseas aplicar cuando el contenedor tiene un nieto con id factorizar */
    background-color: lightblue;
}


/*-------------------------------------------------------------------------------------------------------------------
   UI-components.
-------------------------------------------------------------------------------------------------------------------*/

.matrix-helper {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.matrix {
    padding: 10px;
    border-left: 2px solid red;
    /* For visualization */
    border-right: 2px solid red;
    /* For visualization */
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.matrix-input {
    margin: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #f1f1f1;
    border: none;
    padding: 0;

}

#btnAccion-incrementarDimension {
    margin-right: 10px;
}

#btnAccion-decrementarDimension {
    margin-left: 10px;
}

#inputNumber {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}
#btnAccion-factorizar {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}
#btnAccion-descomponer {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#txtResultado {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    resize: none;
}

.menuNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
.menuNav ul {   /* los ul dentro de una clase llamada menuNav */
    list-style-type: none;
    padding: 0;
}

.menuNav ul li { /* los li dentro de un ul dentros de una clase llamada menuNav */
    display: inline-block; /* Para que los elementos se muestren en línea */
    margin: 0 5vw; /* Para dar un margen a los elementos */
}

.menuNav ul li a { /* los a dentro de un li dentro de un ul dentro de una clase llamada menuNav */
    text-decoration: none;  /* Para quitar el subrayado de los enlaces */
    color: #333; /* Color del texto */
}

