<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrix</title>
    <link rel="stylesheet" href="normalize.min.css">
    <link rel="stylesheet" href="style.css">    
</head>
<body>
    <div class="container">
        <article class="matrix-container">
            <section class="matrix" id="matrixA">
            </section>
            <section class="matrix-helper">
                <button id="incrementarDimension">+</button>
                <button id="reducirDimension">-</button>
            </section>
        </article>
    </div>
    <script src="app.js"></script>
</body>
</html>