/*-------------------------------------------------------------------------------------------------------------------
   CONFIGURATION.
-------------------------------------------------------------------------------------------------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

.container {
    font-family: Arial, sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

/*-------------------------------------------------------------------------------------------------------------------
   UI-components.
-------------------------------------------------------------------------------------------------------------------*/

.matrix-helper {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.matrix {
    padding: 10px;
    border-left: 2px solid red;
    /* For visualization */
    border-right: 2px solid red;
    /* For visualization */
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.matrix-input {
    margin: 10px;
    width: 20px;
    height: 20px;
    text-align: center;

}

#incrementarDimension {
    margin-right: 10px;
}

#decrementarDimension {
    margin-left: 10px;
}