<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descomposicion Terminos</title>
    <link rel="stylesheet" href="../../../plantilla/normalize.min.css">
    <link rel="stylesheet" href="style.css">    
</head>
<body>
    <div class="container">
        <div class="row">
            <input type="text" id="inputNumber" placeholder="Ingrese un número">
            <button id="btnAccion">Descomponer</button>
        </div>
        <textarea id="txtResultado"></textarea>
    </div>
    <script src="app.js"></script>
</body>
</html>