/*-------------------------------------------------------------------------------------------------------------------
   CONFIGURATION.
-------------------------------------------------------------------------------------------------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
.container {
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-items: center;
        background-color: transparent;
    height: 20vh;
}

/*-------------------------------------------------------------------------------------------------------------------
   UI-components.
-------------------------------------------------------------------------------------------------------------------*/
