/*-------------------------------------------------------------------------------------------------------------------
   CONFIGURATION.
   
-------------------------------------------------------------------------------------------------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*border: 1px solid red;*/
}

:root{
    /* Background color */
   --dark-color: #0f0e17;
   --hover-dark-color: #353535;

   /* Text color */
   --light-color: #a7a9be;

   --light-white: #fffffe;

   /* Links color */
   --primary-color: ##ff8906;

   /* Button color */
   --secondary-color: #e53170;


   border: 1px solid red;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*-------------------------------------------------------------------------------------------------------------------
   UI-components.
-------------------------------------------------------------------------------------------------------------------*/
.container{
    display: flex;
    justify-content: space-around;
    padding: 10vh 0vw;
}

header {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--light-white);
    text-decoration: none;
    /*cambiale el grosor ed la letra*/
    font-weight: bold;
    text-transform:uppercase;
    ;
}

#imgLandingPage{
    scale: 0.3;
}

section {
    background-color:var(--light-white);
    display: flex;
    flex-direction: column;
}

#sectionHelp{
    width: 200px;
}

#sectionToolBar{
    width: 150px;
}

#sectionCalculator{
    width:50%;
}

.formulario {
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    height: 3rem;
    border-radius: 7px;


    &:focus{
        outline: none;
    }


    /*Selecciona que cuando esté focus este elemento
    cambie la propiedad de opacidad a 0 y si tiene texto lo deje así en 0 
    a su elemento adyacente con el id placeHolderInput*/
    &:focus + #placeHolderInput,
    &:not(:placeholder-shown) + #placeHolderInput{
        opacity: 0;
        transform: translateY(-150%);
    }

}

#btnAction{
    position: absolute;
    right: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 0px 7px 7px 0 ;
    background-color: var(--dark-color);
    color: var(--light-white);
    border: none;
    cursor: pointer;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: var(--hover-dark-color);
    }
    &:hover #equal{
        display: inline-block;
        transform: scale(1.6);

    }
  
}
#equal{
    transition: .2s;
}

#placeHolderInput{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    color: var(--light-color);
    pointer-events: none; 
    transition: .1s;


}
footer {
    background-color: var(--dark-color);
    color: var(--light-white);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}



#result{
    margin-top: 10%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight:bolder;
    font-size: 2rem;
}

/*-------------------------------------------------------------------------------------------------------------------
DISABLED COMPONENTS.
-------------------------------------------------------------------------------------------------------------------*/

/*

#controlBar{
    margin-top: 10%;
}
.matrix-helper {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.matrix {
    padding: 10px;
    margin-top: 10vh;
    border-left: 2px solid red;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20vh;
}

.row:has(> .matrix-input) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.matrix-input {
    margin: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: var(--light-white);
    border: none;
}

*/